<html>
    <head>
        <title>AutoAdmin</title>
        <link rel="stylesheet" href="{{ asset('styles.css') }}">
        <script src="{{ asset('htmx.min.js') }}" defer></script>
        <meta name="htmx-config" content='{"responseHandling": [{"code":".*", "swap": true}]}' /> <!--all responses are swapped-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="h-screen overflow-hidden">
        <div class="flex h-full w-full">
            <div class="p-5 h-full min-w-fit overflow-y-auto" style="box-shadow: 1px 0px 5px #80808070;" 
                hx-get="{{ path('autoadmin_navbar') }}" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
                Loading...
            </div>
            <div class="p-5 overflow-auto grow">
                <div id="error-component"></div>
                <div id="content">
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                    <div class="m-14">
                        <h1 class="text-3xl underline mb-4">Welcome to AutoAdmin</h1>
                        <div class="flex items-center flex-row gap-2">
                            <div class="text-7xl text-blue-700">←</div> 
                            <div class="mt-4">Select an entity from the left menu to get started.</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>